/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to bottom, #f9d9d9, #cc2e2e);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styling */
.button-container {
    text-align: center;
    background-color: #3b2c2c;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

/* Button Styling */
.btn {
    background-color: #a30000;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Times New Roman', Times, serif;
}

.btn:hover {
    background-color: #cc0000;
}
