<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="/welcome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>

<div id="myModal" class="modal">

	  <<!-- Modal content -->>
	  <div class="modal-content">
	    <span class="close">&times;</span>
	    
	    <div id="MoreDesc"></div>

	  </div>
	
	</div>

    <header>
        <h2>Welcome <span th:text="${user.fullname}"></span></h2>
        <nav class="navbar">
    <div class="nav-menu">
        <nav>
  
    <ul>
        <li><a href="welcome">Home</a></li>
        <li><a class="selected" style="color:black" href="#">Courses</a></li>
        <li><a href="#">Curriculum</a></li>
        <li><a href="#">Progress</a></li>
        <li><a href="account">Account</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav>
    </div>
</nav>

    </header>

    <main>
		<h2>Available Courses</h2>
		<center><table border="1">
		    <thead>
		        <tr>
		            <!--<th>Course ID</th>
		            <th>Course Name</th>
		            <th>Description</th>-->
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="course : ${courses}">
		           
				<td th:text="|${course.degree}'s Degree - ${course.course}, ${course.department}, ${course.program}|"></td>
			    <td><button th:value="${course.id}" onclick="loadDesc(this.value)">More</button></td>
		        </tr>
		    </tbody>
		</table></center>
    </main>

    <footer>
        <p>&copy; 2025 Student Curriculum Tracker. All rights reserved.</p>
    </footer>
</body>
</html>

<script>

const modal = document.getElementById("myModal");
const span = document.getElementsByClassName("close")[0];
let moreDesc = document.getElementById("MoreDesc");



window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
span.onclick = function() {
    modal.style.display = "none";
  }
 
 


function myFunction(value){
	let subject = document.getElementById("subject");
	let description = document.getElementById("description");
	if(value == "description"){
		subject.style.display = "none";
		description.style.display = "block";
	}
	else{
		subject.style.display = "block";
		description.style.display = "none";

	}
}
 
 
  function loadDesc(id) {
	  
	  $.ajax({
	      url: `/api/courses`,
	      type: 'POST',
	      data: { id: id },
	      success: function(data) {
	        moreDesc.innerHTML = data;
	       
	      }
	    });
	  modal.style.display = "block";
  }
</script>