<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> 
	
</head>
<body>
			    
	    	

   <div class="form-container">
   		<form id="logForm" th:action="@{/login/Student}" method="POST">
   		
   		<div id="msg"> 
           	<span th:text="${error}"></span>
           </div>
        <h1>User Authentication</h1>
        	
        	<input type="hidden" name="hiddenValue" id="hiddenValue" th:value="${hiddenValue}">
        	<select onchange="changeAction(this)" id="USERtype" name="USERtype">
        		<option value="Student">STUDENT</option>
        		<option value="Teacher">TEACHER</option>
        		<option value="Admin">ADMIN</option>
        	</select>
        
        
            <i class="fas fa-user"><span id="userId" th:text="${hiddenValue}"> Id:</i></span>
            <input type="text" id="studentid" name="studentid" required />
            
            <i class="fas fa-lock"> Password:</i>
            <input type="password" id="password" name="password" required />
            
         	<a href="/forgotP" style="float:right;">Forgot password?</a>
         	
            <button>Login</button>
            </form>

            <p>Don’t have an account? <a id="reg" th:href="@{/register/{value}(value=${hiddenValue})}">Register</a></p>
            
             <div class="separator"><span>-------------------------------------OR-------------------------------------</span></div>
        
        <!-- <div class="social-icons">
           <a href="#" class="google">G</a>
            
            
        </div> -->
  	
  </div>
</body>
</html>
<script>
function changeAction(select){
    const form = document.getElementById("logForm");
    const reg = document.getElementById("reg");
    const userId = document.getElementById("userId").innerHTML = select.value;
    form.action = "/login/"+select.value;
    reg.href = "/register/"+select.value;
}
</script>