<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Progress</title>
    <link rel="stylesheet" href="/welcome.css"> 
</head>
<body>
    <header>
        <h2>Welcome <span th:text="${user.fullname}"></span></h2>
        <nav class="navbar">
    <div class="nav-menu">
        <nav>
  
    <ul>
        <li><a href="welcome">Home</a></li>
        <li><a href="curriculum">Curriculum</a></li>
        <li><a class="selected" style="color:black" href="#">Progress</a></li>
        <li><a href="account">Account</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</nav>
    </div>
</nav>

    </header>

   <main>

    <!-- COURSE SECTION -->
		<div th:if="${course != null and !#lists.isEmpty(course)}">
		    <div th:each="course : ${course}" 
		         style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
		         
		        <p>
		            <strong>
		                <span th:text="${course.degree}"></span>'s Degree in 
		                <span th:text="${course.course}"></span>
		            </strong>
		        </p>
		    </div>
		</div>
		
		<div th:if="${#lists.isEmpty(course)}">
		    <p>No course available.</p>
		</div>
		
		
		<!-- SUBJECT TABLE -->
		    <div th:if="${subject != null and !#lists.isEmpty(subject)}">
		        <table id="1">
		            <thead>
		                <th>Code</th>
		                <th class="td_subj">Subject</th>
		                <th class="td_units">Units</th>
		            </thead>
		
		            <tbody>
		                <tr>
		                    <td colspan="3"><center><b>First Semester</b></center></td>
		                </tr>
		
		                <tr th:each="subject : ${subject}" 
		                    th:if="${subject.semester == 'First'}">
		
		                    <td th:text="${subject.subject_code}"></td>
		                    <td th:text="${subject.subject}"></td>
		                    <td th:text="${subject.unit}"></td>
		                </tr>
		
		                <tr>
		                    <td colspan="3"><center><b>Second Semester</b></center></td>
		                </tr>
		
		                <tr th:each="subject : ${subject}" 
		                    th:if="${subject.semester == 'Second'}">
		
		                    <td th:text="${subject.subject_code}"></td>
		                    <td th:text="${subject.subject}"></td>
		                    <td th:text="${subject.unit}"></td>
		                </tr>
		            </tbody>
		        </table>
		    </div>
		
		    <div th:if="${#lists.isEmpty(subject)}">
		        <p>No subjects available.</p>
		    </div>
		
		</main>
    <footer>
        <p>&copy; 2025 Student Curriculum Tracker. All rights reserved.</p>
    </footer>
</body>
</html>