<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teacher Registration Form</title>
</head>
<body>
    <h1>Teacher Registration Form</h1>
    <form method="post" th:action="/teacherReg">

        <input type="text" placeholder="Full Name" name="fullName" id="fullname" required><br>
        <input type="email" placeholder="Email" name="email" id="email"required><br>
        <input type="text" placeholder="Phone Number" id="phone" name="phone" required><br>

        <select id="department" name="department" required>
            <option value="Computer Science">Computer Science</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Mathematics">Mathematics</option>
        </select><br>

        <input type="text" placeholder="Faculty ID" name="FacultyID" id="FacultyID" required><br>
        <input type="password" placeholder="Password" name="Password" id="Password" required><br>
        <input type="password" placeholder="confirmPassword" name="ConfirmPassword" id="ConfirmPassword"  required><br>
		
        <textarea placeholder="Educational Background" name="EducationalBackground" id= "EducationalBackground"></textarea><br>
        <input type="number" placeholder="Years of Experience" name="experience" id="experience"><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>